<br><br><br>
<center><h1>Please enter an ISBN</h1><center>


<h3><%=isbn_number%><%=message_one%><%=results%><%=number%>

<form action='isbn_num' method='post'>
	<input type='text' required name='isbn_input'><br><br><br>
	<input type='submit'></p>

</form>
